.mobile-app-header{
    display:none;
}

@media(max-width:768px){

.mobile-app-header{
    position:sticky;
    top:0;

    z-index:999;

    height:70px;

    display:flex;
    align-items:center;

    padding:0 16px;

    background:rgba(255,255,255,.95);

    backdrop-filter:blur(20px);

    border-bottom:1px solid #e5e7eb;
    box-shadow:0 2px 15px rgba(0,0,0,.06);

}


.logo-wrap{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo-circle{
    width:48px;
    height:48px;

    border-radius:12px;

    background:linear-gradient(
      135deg,
      #0f2d57,
      #1d4ed8
    );

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    font-size:18px;

    animation:floatLogo 3s ease-in-out infinite;
}

.logo-wrap h2{
    font-size:22px;
    font-weight:800;
    color:#111827;
    margin:0;
}

.logo-wrap span{
    font-size:11px;
    color:#6b7280;
}

@keyframes floatLogo{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-3px);
    }

    100%{
        transform:translateY(0px);
    }
}

}